.transfer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    margin: 40px auto;
    padding: 30px;
    background-color: var(--neutral-light);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.transfer-container h1 {
    color: var(--neutral-dark);
}

.transfer-input {
    width: 70%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 6px 0;
}

.transfer-button {
    background-color: var(--secondary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.transfer-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.transfer-button:hover:not(:disabled) {
    background-color: var(--secondary-light);
}

.transfer-transaction {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}