@import "tailwindcss";

:root {
  /* Colores Primarios (Morados) */
  --primary: #2c2244;
  /* Morado principal */
  --primary-dark: #1E1E2E;
  /* Morado oscuro */
  --primary-light: #7a57d1;
  /* Morado claro */

  /* Colores Secundarios (Verdes) */
  --secondary: #28A745;
  --secondary-dark: #218838;
  --secondary-light: #1cbd42;
  --secondary-extra-light: #68d888;

  /* Colores de Advertencia (Rojos) */
  --danger: #DC3545;
  --danger-dark: #C82333;
  --danger-light: #ff5757;

  /* Colores Neutrales (Grises) */
  --neutral-light: #F8F9FA;
  --neutral-medium: #6C757D;
  --neutral-dark: #343A40;
  --neutral-extra-light: #cceef6;

  /* Colores Adicionales */
  --background-dark: #1E1E2E;
  /* Fondo oscuro */
  --background-light: #2f2f3f;
  /* Fondo claro para tarjetas */
  --text-light: #f5f5f5;
  /* Texto claro */
  --text-muted: #c7c7d1;
  /* Texto sutil */

  /* Chart Colors */
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}


:root {
  /* Fuentes */
  /* --font-family: 'Helvetica', sans-serif; */
  --font-family: 'Poppins', sans-serif;
}


/* 
Primario (azul): Simboliza confianza, calma y profesionalismo.
#007BFF (Azul claro: botones, enlaces activos, énfasis)
#0056B3 (Azul oscuro: hover, bordes destacados)

Secundario (verde): Transmite éxito, crecimiento y estabilidad.
#28A745 (Verde: acciones exitosas, notificaciones)

Accento/Advertencia (rojo): Para mensajes de error o advertencia.
#DC3545 (Rojo: errores, acciones críticas)

Neutrales (grises): Usados para fondos y textos secundarios.
#F8F9FA (Gris claro: fondo general)
#6C757D (Gris medio: texto secundario, iconos pasivos)
#343A40 (Gris oscuro: texto principal) */