.header-logsign-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 290px;
    height: auto;
}

.decoration {
    width: 180px;
    height: 120px;
}